name: Build and Push Container Images

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        folder: [proton, wine]
        arch: [amd64, arm64]
        include:
          - arch: amd64
            runner: ubuntu-24.04
            platform: linux/amd64
          - arch: arm64
            runner: ubuntu-24.04-arm
            platform: linux/arm64
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.folder }}
          platforms: ${{ matrix.platform }}
          push: true
          provenance: false
          file: ${{ matrix.folder }}/Containerfile
          tags: ghcr.io/${{ github.repository_owner }}/base-${{ matrix.folder }}:${{ matrix.arch }}-latest

  manifest:
    needs: build-and-push
    runs-on: ubuntu-latest
    permissions:
      packages: write
    strategy:
      matrix:
        folder: [proton]

    steps:
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create and push manifest
        run: |
          IMAGE=ghcr.io/${{ github.repository_owner }}/base-${{ matrix.folder }}
          docker manifest create $IMAGE:latest \
            --amend $IMAGE:amd64-latest \
            --amend $IMAGE:arm64-latest
          docker manifest push $IMAGE:latest
